body {
    background-color: #6e6e6e;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
}

strong {
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 17px;
}   

dt{
    font-family: monospace;
    color: blue;
    font-size: 19px;
}

dd{
    font-family: monospace;
    color: white;
    font-size: 17px;
}

footer{
    text-align: center;
}

.estiloFooter{
    color: white;
    text-align: center;
}

#facebookTitle{
    color: blue;
    text-shadow: #6e6e6e;
}

.container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

div > p {
    color: black;
}

.boton {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(15, 15, 14);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 149, 255);
  }
  
.botonbuscar {
    color: rgb(202, 216, 5);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(227, 50, 92);
  }

  .flexStyle{
    border-color: red;
    border-width: 6px;
    border-style: inset;
    display: flex;
    justify-content: center;
  }