header{
    background-color: cornsilk;
    text-align: center;
}

h3{
    color: crimson;
}

.circularImage{
    width: 20%;
    height: 30%;
    border-radius: 50%;
    overflow: hidden;
}

ul{
    text-align: left;
}

footer{
    color: beige;
    text-align: center;
    background-color: crimson;
}

.container{
    background-color: beige;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}