*{
    margin: 0px;
}

body{
    height: 100%;
    background-color: #747683;
}

.card{
    box-shadow: #000 0px 0px 50px;
    margin: auto;
    margin-top: 50px;
    height: 700px;
    width: 500px;
    background-color: #ddd;
}

.card:hover ~body{
    background-color: #000;
}

.card_header{
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-bottom: 5%
}

.card_header img{
    width: 100%;
    height: auto;
    filter: brightness();
    transform: translate();
    transition: transform 0.3s, filter 0.3s;
}

.card_header .button{
    position: absolute;
    top: 35%;
    left: 50%;;
    transform: translate(-50%);
    display: none;
}

.button button{
    color: white;
    background: none;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover button{
    background: fixed;
    background-color: white;
    color: #000;
}

.card_header:hover img{
    filter: brightness(0.5);
    transform: translate(-3%);
    transition: transform 0.3s, filter 0.3s;
}

.card_header:hover .button{
    display: block;
}

h4{
    color: gray;
}

.card_content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
}

.size{
    margin-top: 50px;
}

.color{
    margin-top: 40px;
}

.red{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    color: red;
    width: 10px;
    height: 10px;
}

.blue{
    border: 1px solid blue;
    background-color: blue;
    border-radius: 50%;
    color: blue;
    width: 10px;
    height: 10px;
}

.white{
    border: 1px solid white;
    background-color: white;
    border-radius: 20%;
    color: black;
    width: 10px;
    height: 10px;
}

.green{
    border: 1px solid green;
    background-color: green;
    border-radius: 50%;
    color: green;
    width: 10px;
    height: 10px;
}

.title{
    border: #ddd;
    display: flex;
    align-items: stretch;
    gap: 40%;
}