* {
    margin: 0;
}

.bg {
    background-color: white;
}

.frame {
    display: flex;
    position: relative;
    background-color: rgb(44, 44, 44);
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 10%;
    overflow: hidden;
}

.bola {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 5%;
    height: 5%;
    color: red;
    animation: rebote 5s linear;
    animation-iteration-count: infinite;

}

.barra {
    border-radius: 20px;
    transform: translate(-50%, 50%);
    position: absolute;
    background-color: green;
    width: 30%;
    height: 5%;
    color: green;
    animation: desplazamiento 5s linear infinite;
}

@keyframes rebote{
    0% {
        top: 0;
        left: 0;
    }

    25% {
        left: 50%;
        top: 77%;
    }

    50% {
        left: 95%;
        top: 0%;
    }

    75% {
        left: 50%;
        top: 77%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes desplazamiento{
    0% {
        top: 80%;
        left: 15%;
    }

    25% {
        top: 80%;
        left: 50%;
    }

    50% {
        top: 80%;
        left: 85%;
    }

    75% {
        top: 80%;
        left: 50%;
    }

    100% {
        top: 80%;
        left: 15%;
    }
}
